In [320]:
import pandas as pd

In [322]:
import seaborn as sns

In [324]:
df = pd.read_csv("Motor Thefts Data.csv")

In [326]:
# Data set is from dates 10-7-2021 to 4-6-2022

In [328]:
# Inspect data

In [330]:
df.head(10)

,date_stolen,make_name,make_type,vehicle_type,model_year,vehicle_color,region,population,population_density
0,10/7/2021,Trailer,Standard,Boat Trailer,2004,White,Bay of Plenty,347700,28.80
1,10/7/2021,Trailer,Standard,Trailer,2007,Black,Waikato,513800,21.50
2,10/7/2021,BMW,Luxury,Roadbike,2017,White,Auckland,1695200,343.09
3,10/7/2021,Ford,Standard,Saloon,2006,Grey,Wellington,543500,67.52
4,10/7/2021,Toyota,Standard,Light Van,2008,Silver,Otago,246000,7.89
5,10/7/2021,Nissan,Standard,Flat Deck Truck,1998,White,Auckland,1695200,343.09
6,10/7/2021,Honda,Standard,Saloon,1998,Red,Northland,201500,16.11
7,10/7/2021,Holden,Standard,Saloon,2006,Black,Auckland,1695200,343.09
8,10/7/2021,Toyota,Standard,Stationwagon,2018,White,Auckland,1695200,343.09
9,10/7/2021,BMW,Luxury,Saloon,2000,Red,Wellington,543500,67.52

In [332]:
df.dtypes

date_stolen            object
make_name              object
make_type              object
vehicle_type           object
model_year              int64
vehicle_color          object
region                 object
population              int64
population_density    float64
dtype: object

In [334]:
# Convert date_stolen column to date type

In [336]:
df['date_stolen'] = pd.to_datetime(df['date_stolen'])

In [338]:
df.head()

,date_stolen,make_name,make_type,vehicle_type,model_year,vehicle_color,region,population,population_density
0,2021-10-07,Trailer,Standard,Boat Trailer,2004,White,Bay of Plenty,347700,28.80
1,2021-10-07,Trailer,Standard,Trailer,2007,Black,Waikato,513800,21.50
2,2021-10-07,BMW,Luxury,Roadbike,2017,White,Auckland,1695200,343.09
3,2021-10-07,Ford,Standard,Saloon,2006,Grey,Wellington,543500,67.52
4,2021-10-07,Toyota,Standard,Light Van,2008,Silver,Otago,246000,7.89

In [340]:
# Make a month_stolen column

In [342]:
df['month_stolen'] = df['date_stolen'].dt.month

In [344]:
df.head()

,date_stolen,make_name,make_type,vehicle_type,model_year,vehicle_color,region,population,population_density,month_stolen
0,2021-10-07,Trailer,Standard,Boat Trailer,2004,White,Bay of Plenty,347700,28.80,10
1,2021-10-07,Trailer,Standard,Trailer,2007,Black,Waikato,513800,21.50,10
2,2021-10-07,BMW,Luxury,Roadbike,2017,White,Auckland,1695200,343.09,10
3,2021-10-07,Ford,Standard,Saloon,2006,Grey,Wellington,543500,67.52,10
4,2021-10-07,Toyota,Standard,Light Van,2008,Silver,Otago,246000,7.89,10

In [346]:
# Make a year_stolen column

In [348]:
df['year_stolen'] = df['date_stolen'].dt.year

In [350]:
df.head()

,date_stolen,make_name,make_type,vehicle_type,model_year,vehicle_color,region,population,population_density,month_stolen,year_stolen
0,2021-10-07,Trailer,Standard,Boat Trailer,2004,White,Bay of Plenty,347700,28.80,10,2021
1,2021-10-07,Trailer,Standard,Trailer,2007,Black,Waikato,513800,21.50,10,2021
2,2021-10-07,BMW,Luxury,Roadbike,2017,White,Auckland,1695200,343.09,10,2021
3,2021-10-07,Ford,Standard,Saloon,2006,Grey,Wellington,543500,67.52,10,2021
4,2021-10-07,Toyota,Standard,Light Van,2008,Silver,Otago,246000,7.89,10,2021

In [352]:
# Check for null values

In [354]:
df.isna().sum()

date_stolen           0
make_name             0
make_type             0
vehicle_type          0
model_year            0
vehicle_color         0
region                0
population            0
population_density    0
month_stolen          0
year_stolen           0
dtype: int64

In [356]:
# Reorganize columns

In [358]:
df = df[['date_stolen', 'year_stolen', 'month_stolen', 'make_type', 'model_year', 'vehicle_type', 'make_name', 'vehicle_color', 'region', 'population', 'population_density']]

In [360]:
df.head()

,date_stolen,year_stolen,month_stolen,make_type,model_year,vehicle_type,make_name,vehicle_color,region,population,population_density
0,2021-10-07,2021,10,Standard,2004,Boat Trailer,Trailer,White,Bay of Plenty,347700,28.80
1,2021-10-07,2021,10,Standard,2007,Trailer,Trailer,Black,Waikato,513800,21.50
2,2021-10-07,2021,10,Luxury,2017,Roadbike,BMW,White,Auckland,1695200,343.09
3,2021-10-07,2021,10,Standard,2006,Saloon,Ford,Grey,Wellington,543500,67.52
4,2021-10-07,2021,10,Standard,2008,Light Van,Toyota,Silver,Otago,246000,7.89

In [362]:
# Find thefts per month - remember data goes from 10-7-2021 to 4-6-2022

In [364]:
thefts_per_month_year = df.groupby(['year_stolen', 'month_stolen']).size().unstack(fill_value=0)

In [366]:
print(thefts_per_month_year)

month_stolen   1    2     3    4    10   11   12
year_stolen
2021            0    0     0    0  461  556  640
2022          737  757  1049  327    0    0    0

In [368]:
# Note: Would want data from a full year to make any analysis on what time of year has the most vehicles stolen

In [370]:
# Find which makes and make_types are most commonly stolen

In [372]:
thefts_by_make = df.groupby('make_name').size().sort_values(ascending=False)
thefts_by_make_type = df.groupby('make_type').size().sort_values(ascending=False)

In [374]:
print(thefts_by_make)

make_name
Toyota     716
Trailer    543
Nissan     482
Mazda      433
Ford       312
          ...
Scomadi      1
Seat         1
Skoda        1
Sprite       1
Renault      1
Length: 136, dtype: int64

In [376]:
print(thefts_by_make_type)

make_type
Standard    4338
Luxury       189
dtype: int64

In [378]:
# Find which vehicle color is most commonly stolen

In [380]:
thefts_by_color = df.groupby('vehicle_color').size().sort_values(ascending=False)

In [382]:
print(thefts_by_color)

vehicle_color
Silver    1272
White      932
Black      586
Blue       511
Red        388
Grey       377
Green      224
Gold        77
Brown       49
Yellow      37
Orange      35
Purple      26
Cream        9
Pink         4
dtype: int64

In [384]:
# Find if newer or older cars are more common

In [386]:
thefts_by_model_year = df.groupby('model_year').size().sort_values(ascending=False)

In [388]:
print(thefts_by_model_year)

model_year
2005    346
2006    333
2007    250
2004    238
2008    190
       ...
1957      1
1943      1
1965      1
1968      1
1940      1
Length: 63, dtype: int64

In [390]:
# Find most common region for thefts

In [392]:
thefts_by_region = df.groupby('region').size().sort_values(ascending=False)

In [394]:
print(thefts_by_region)

region
Auckland              1626
Canterbury             660
Bay of Plenty          442
Wellington             417
Waikato                369
Northland              233
Gisborne               175
ManawatÅ«-Whanganui     138
Otago                  137
Taranaki               112
Hawke's Bay            100
Nelson                  92
Southland               26
dtype: int64

In [396]:
# Find is a higher population density correlates with more thefts

In [400]:
missing_values = df['population_density'].isnull().sum()

In [402]:
print(f"Missing values in population_density: {missing_values}")

Missing values in population_density: 0

In [404]:
most_common_population_density = df['population_density'].mode()[0]
print(f"The most common population density for thefts is: {most_common_population_density}")

The most common population density for thefts is: 343.09